Post processing/results/
Remote sensing/results/
EFAS/BaseLayers/
Topographic variables/results/
RGB diversity/results/
OSM/Variable download/Earth OSM/
Landscape variables/results/
Landscape variables/Fragstats Moving Window Size/
.obsidian/
.pandoc/
# ANEXOS/



